body{
  background-color: #ff9be1;
  color: white;
  font-family: 'Spartan', 'Montserrat', 'Futura', sans-serif;
}

h1{
  text-align: center;
  font-size: 4em;
  margin-bottom: 0;
}

p{
  text-align: center;
}
 
#wrapper {
  margin-top: 10%;
  display: grid;
  grid-template-rows: 1fr;
  
}

#animate {
  position: relative;
  
  
}

#animate img{
  height: 4em;
  width: auto;
}

#duck{
  margin-top: 2em;
  height: 20em;
  width: auto;
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
}